# Authentication (Required for Login)
AUTH_SECRET= # Generate one with `npx auth secret`
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database Connection
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Connection Parameters
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=
